<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link rel="manifest" href="manifest.json">

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- Floating Menu -->
    <link href="lib/ion-floating-menu/dist/ion-floating-menu.css" rel="stylesheet" type="text/css">
    <script src="lib/ion-floating-menu/dist/ion-floating-menu.js" type="text/javascript"></script>

    <!-- Model to Tasks -->
    <script src="js/TasksModel.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
  </head>
  <body ng-app="starter">
  	<ion-nav-bar class="bar-positive">
      <ion-nav-back-button>
      </ion-nav-back-button>
    </ion-nav-bar>

    <ion-nav-view></ion-nav-view>


    <script id="templates/tabs.html" type="text/ng-template">
      <ion-tabs class="tabs-icon-top tabs-positive">

        <ion-tab title="Home" icon="ion-home" href="#/tab/home">
          <ion-nav-view name="home-tab"></ion-nav-view>
        </ion-tab>

        <ion-tab title="Sobre" icon="ion-ios-information" href="#/tab/about">
          <ion-nav-view name="about-tab"></ion-nav-view>
        </ion-tab>

        <ion-tab title="Contato" icon="ion-ios-world" ui-sref="tabs.contact">
          <ion-nav-view name="contact-tab"></ion-nav-view>
        </ion-tab>

      </ion-tabs>
    </script>

    <script id="templates/home.html" type="text/ng-template">
      <ion-view view-title="Home">
        <ion-content class="padding">
          <ion-list show-delete="data.showDelete" show-reorder="data.showReorder">
            <ion-item ng-repeat="item in list track by $index" ng-hide="onHideItem(item)" class="item-remove-animate">
              {{ item.titulo }}

              <ion-delete-button class="ion-minus-circled"
                                 ng-click="onItemDelete(item)">
              </ion-delete-button>
              <ion-option-button ng-click="go('/tab/editar/' + $index)" class="ion-edit"></ion-option-button>
              <ion-option-button class="checkbox checkbox-assertive checkbox-dark pull-right" ng-click="onClickCheck(item)">
                  <input type="checkbox" ng-checked="item.finished">
                  <div class="track">
                    <div class="handle"></div>
                  </div>
              </ion-option-button>
              <ion-reorder-button class="ion-navicon" on-reorder="moveItem(item, $fromIndex, $toIndex)"></ion-reorder-button>
            </ion-item>

          </ion-list>

        </ion-content>
        <ion-footer-bar class="bar-dark">
          <div class="row">
            <label class="full">
              Exibir tarefas concluidas
              <label class="toggle toggle-stable toggle-small pull-right">
                <input type="checkbox" ng-model="showFinished">
                <div class="track">
                  <div class="handle"></div>
                </div>
              </label>
            </label>
          </div>
          <ion-floating-menu has-footer="true"
                             menu-open-color="#dc3434"
                             menu-color="#387ef5"
                             menu-icon="ion-grid"
                             menu-open-icon="ion-close-round">
            <ion-floating-item icon="ion-minus-circled"
                               text="Deletar tarefa"
                               button-color="#387ef5"
                               ng-click="data.showDelete = !data.showDelete; data.showReorder = false"></ion-floating-item>
            <ion-floating-item icon="ion-ios-list-outline"
                               text="Reorganizar tarefas"
                               button-color="#387ef5"
                               ng-click="data.showDelete = false; data.showReorder = !data.showReorder"></ion-floating-item>
            <ion-floating-item icon="ion-plus-round"
                               text="Adicionar tarefa"
                               button-color="#387ef5"
                               ng-click="go('/tab/adicionar')"></ion-floating-item>
          </ion-floating-menu>
        </ion-footer-bar>

      </ion-view>
    </script>

    <script id="templates/adicionar.html" type="text/ng-template">
      <ion-view view-title="Adicionar nova tarefa">
        <ion-content class="padding">
          <form name="itemForm">
            <div class="list">
              <label class="item item-input">
                <input type="text" placeholder="Titulo" ng-model="item.titulo" ng-required="true">
              </label>
              <label class="item item-input">
                <textarea placeholder="Descrição" ng-model="item.descricao" ng-required="true" class="textarea-default"></textarea>
              </label>
              <label>
                <button class="button button-positive button-full" ng-click="onItemAdd(item)" ng-disabled="itemForm.$invalid">Submit</button>
              </label>
            </div>
          </form>
        </ion-content>
      </ion-view>
    </script>

    <script id="templates/editar.html" type="text/ng-template">
      <ion-view view-title="Editar tarefa">
        <ion-content class="padding">
          <div class="list">
            <label class="item item-input">
              <input type="text" placeholder="Titulo" ng-model="item.titulo">
            </label>
            <label class="item item-input">
              <textarea placeholder="Descrição" ng-model="item.descricao" class="textarea-default"></textarea>
            </label>
            <label>
              <button class="button button-positive button-full" ng-click="onItemEdit(item)">Editar</button>
            </label>
          </div>
        </ion-content>
      </ion-view>
    </script>

    <script id="templates/facts.html" type="text/ng-template">
      <ion-view view-title="Facts">
        <ion-content class="padding">
          <p>Banging your head against a wall uses 150 calories an hour.</p>
          <p>Dogs have four toes on their hind feet, and five on their front feet.</p>
          <p>The ant can lift 50 times its own weight, can pull 30 times its own weight and always falls over on its right side when intoxicated.</p>
          <p>A cockroach will live nine days without it's head, before it starves to death.</p>
          <p>Polar bears are left handed.</p>
          <p>
            <a class="button icon ion-home" href="#/tab/home"> Home</a>
            <a class="button icon icon-right ion-chevron-right" href="#/tab/facts2">More Facts</a>
          </p>
        </ion-content>
      </ion-view>
    </script>

    <script id="templates/facts2.html" type="text/ng-template">
      <ion-view view-title="Also Factual">
        <ion-content class="padding">
          <p>111,111,111 x 111,111,111 = 12,345,678,987,654,321</p>
          <p>1 in every 4 Americans has appeared on T.V.</p>
          <p>11% of the world is left-handed.</p>
          <p>1 in 8 Americans has worked at a McDonalds restaurant.</p>
          <p>$283,200 is the absolute highest amount of money you can win on Jeopardy.</p>
          <p>101 Dalmatians, Peter Pan, Lady and the Tramp, and Mulan are the only Disney cartoons where both parents are present and don't die throughout the movie.</p>
          <p>
            <a class="button icon ion-home" href="#/tab/home"> Home</a>
            <a class="button icon ion-chevron-left" href="#/tab/facts"> Scientific Facts</a>
          </p>
        </ion-content>
      </ion-view>
    </script>

    <script id="templates/about.html" type="text/ng-template">
      <ion-view view-title="About">
        <ion-content class="padding">
          <h3>Create hybrid mobile apps with the web technologies you love.</h3>
          <p>Free and open source, Ionic offers a library of mobile-optimized HTML, CSS and JS components for building highly interactive apps.</p>
          <p>Built with Sass and optimized for AngularJS.</p>
          <p>
            <a class="button icon icon-right ion-chevron-right" href="#/tab/navstack">Tabs Nav Stack</a>
          </p>
        </ion-content>
      </ion-view>
    </script>

    <script id="templates/nav-stack.html" type="text/ng-template">
      <ion-view view-title="Tab Nav Stack">
        <ion-content class="padding">
          <p><img src="http://ionicframework.com/img/diagrams/tabs-nav-stack.png" style="width:100%"></p>
        </ion-content>
      </ion-view>
    </script>

    <script id="templates/contact.html" type="text/ng-template">
      <ion-view title="Contact">
        <ion-content>
          <div class="list">
            <div class="item">
              @IonicFramework
            </div>
            <div class="item">
              @DriftyTeam
            </div>
          </div>
        </ion-content>
      </ion-view>
    </script>
  </body>
</html>
